<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.xkfeng.mycat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"  />
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS"
        tools:ignore="ProtectedPermissions" />


    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <!--获取设备网络状态，禁用后无法获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <!--获取音量需要的权限-->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <!--Baidu app-key  NIMmHgy2KDKAvBmZkN7rAHG2z7kaMuYa-->


    <application
        android:name=".MyApplication.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/log"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"

        >

        <!--BAIDU MAP API-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="NIMmHgy2KDKAvBmZkN7rAHG2z7kaMuYa"/>

        <activity android:name=".Activity.MainActivity">

        </activity>

        <!--NOT LOGIN IN-->
        <!--Activity : Register-->
        <activity android:name=".Activity.RegisterActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:launchMode="singleTask"
            >

        </activity>

        <!--Activity : Login-->
        <activity
            android:name=".Activity.LoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:launchMode="singleTask"
            >

        </activity>

        <!--Activity : Weather it's the first time start app-->
        <activity
            android:name=".Activity.IsFirstActivity"
            android:noHistory="true"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>


        <!--Activity : leading page animation-->
        <activity
            android:name=".Activity.StartMovieActivity"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            >
        </activity>

        <!--Activity : user-protocol-->
        <activity
            android:name=".Activity.ProtocolActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            >


        </activity>


        <!--LOGIN IN-->
        <!--Activity : user-index page .-->
        <activity android:name=".Activity.IndexActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            >

        </activity>

        <!--Activity : chat-message page-->
        <activity android:name=".Activity.ChatMsgActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:launchMode="singleTask"

            >

        </activity>

        <!--Activity : forwarding msg -->
        <activity android:name=".Activity.ForwardingActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            >

        </activity>

        <!--Activity : forwarding msg : search contact about  friedn , group , contact ..-->
        <activity android:name=".Activity.SearchContactActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            >

        </activity>

        <!--Activity : forwarding msg : get more infomation about your friend when
        friend and contact count more than three-->
        <activity android:name=".Activity.SearchMoreFriendActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            >

        </activity>

        <!--Activity : search data for user-->
        <activity android:name=".Activity.SearchActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"

            >

        </activity>

        <!--Activity : about the project and the author-->
        <activity android:name=".Activity.AboutActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"

            />

        <!--Activity : user-setting -->
        <activity android:name=".Activity.SettingActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            >

        </activity>

        <!--Activity : modify user's password -->
        <activity android:name=".Activity.ModifyPasswordActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            >

        </activity>

        <!--Activity : show userinfo-->
        <activity android:name=".Activity.UserInfoActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            >

        </activity>

        <!--Activity : modify userinfo-->
        <activity android:name=".Activity.ModifyUserInfoActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>

        <!--Activity : user create group chat-->
        <!--可能废弃-->
        <activity android:name=".Activity.CreateGroupChatActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"

            />

        <!--Activity : user add buddy group-->
        <!--可能废弃-->
        <activity android:name=".Activity.AddBuddyGroupActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"

            />

        <!--Activity : add friend-->
        <activity android:name=".Activity.AddFriendActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"

            />
        <!--Activity : send friend request -->
        <activity android:name=".Activity.SendFriendRequestActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:launchMode="singleTask"

            />

        <!--Activity : friend Info-->
        <activity android:name=".Activity.FriendInfoActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:launchMode="singleTask"

            />

        <!--Activity ; friend setting -->
        <activity android:name=".Activity.FriendSettingActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:launchMode="singleTask"

            />

        <!--Activity : seting firned note name -->
        <activity android:name=".Activity.SetNoteNameActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:launchMode="singleTask"

            />

        <!--Activity : this user is not your friend-->
        <activity android:name=".Activity.GroupNotFriendActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"

            />

        <!--Activity : validation friend-->
        <activity android:name=".Activity.FriendValidationActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:launchMode="singleTask"

            />

        <!--Activity : group list-->
        <activity android:name=".Activity.GroupListActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"

            />

        <!--Activity : view album for send-->
        <activity android:name=".Activity.ViewImageActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"

            />
        <!--Activity : preview picture -->
        <activity android:name=".Activity.PreviewPictureActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"

            />



        <!--for take photo-->
        <provider
            android:authorities="com.example.xkfeng.mycat.fileprovider"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>


</manifest>