<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.xkfeng.mycat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"  />
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS"
        tools:ignore="ProtectedPermissions" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/log"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >

        <activity android:name=".Activity.MainActivity">

        </activity>

        <!--NOT LOGIN IN-->
        <!--Activity : Register-->
        <activity android:name=".Activity.RegisterActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:launchMode="singleTask"
            >

        </activity>

        <!--Activity : Login-->
        <activity
            android:name=".Activity.LoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:launchMode="singleTask"
            >

        </activity>

        <!--Activity : Weather it's the first time start app-->
        <activity
            android:name=".Activity.IsFirstActivity"
            android:noHistory="true"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>


        <!--Activity : leading page animation-->
        <activity
            android:name=".Activity.StartMovieActivity"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            >
        </activity>

        <!--Activity : user-protocol-->
        <activity
            android:name=".Activity.ProtocolActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            >


        </activity>


        <!--LOGIN IN-->
        <!--Activity : user-index page .-->
        <activity android:name=".Activity.IndexActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"

            >


        </activity>

        <!--Activity : search data for user-->
        <activity android:name=".Activity.SearchActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"

            >

        </activity>

        <!--Activity : about the project and the author-->
        <activity android:name=".Activity.AboutActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"

            />

        <!--Activity : user-setting -->
        <activity android:name=".Activity.SettingActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            >

        </activity>

        <!--Activity : modify user's password -->
        <activity android:name=".Activity.ModifyPasswordActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            >

        </activity>

        <!--Activity : user create group chat-->
        <activity android:name=".Activity.CreateGroupChatActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"

            />

        <!--Activity : user add buddy group-->
        <activity android:name=".Activity.AddBuddyGroupActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"

            />

    </application>


</manifest>